<!DOCTYPE html>
<html>
<head>
  <title>Simple Map</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
      height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<body>

<div id="map"></div>

<script>
  var map;
  function initMap() {
    // The location of Melbourne
    var Melbourne = {lat: -37.8136, lng: 144.9631};
    // The map, centered at Melbourne
    var map = new google.maps.Map(document.getElementById('map'), {
      center: Melbourne,
      zoom: 14
    });

    // add listener onto google map
    google.maps.event.addListener(map, "click", function (e) {

      //lat and lng is available in e object
      var latLng = e.latLng;
      var pos = {lat: latLng.lat(), lng: latLng.lng()};
      // Add a new marker to the Map
      var new_maker_added_by_user = new google.maps.Marker({draggable: true,
          animation: google.maps.Animation.DROP,position: pos, map: map});
    });
  }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVrV5t3FrHnqanqHMnPIuqn9YTZbDdqzg&callback=initMap"
async defer></script>

</body>
</html>
