<!DOCTYPE html>
<html>
<head>
  <title>Simple Map</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
      height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<body>

<div id="map"></div>

<script>
  var map;
  function initMap() {
    // The location of Melbourne
    var Melbourne = {lat: -37.8136, lng: 144.9631};
    // An array of markers
    markers = []
    // The map, centered at Melbourne
    var map = new google.maps.Map(document.getElementById('map'), {
      center: Melbourne,
      zoom: 14
    });

    // add listener onto google map
    google.maps.event.addListener(map, "click", function (e) {
     placeMarker(map, e.latLng);
    });

    function placeMarker(map, location) {
      var result = prompt("Enter a value of comment for Marker.");
      if (result != '') {
        //  block of code to be executed if the condition is true
        var marker = new google.maps.Marker({
          position: location,
          map: map,
          draggable: true,
          animation: google.maps.Animation.Drop
        });
        // show the message attached
        attachMessage(marker, result);

        marker.addListener('click', function() {
          var result = prompt("Enter a value of comment for Marker.");
          attachMessage(marker, result);
        });
      }

      // Zoom the marker when user click on it
      // map.setZoom(19);
      // map.setCenter(marker.getPosition());
    }

    function attachMessage(marker, message) {
      if (message == '') {
        //  block of code to be executed if the condition is true
        // Do nothing, since the input is an empty string
      } else {
        //  block of code to be executed if the condition is false
        var infowindow = new google.maps.InfoWindow({
          content: message
        });
      }
      marker.addListener('mouseover', function() {
        infowindow.open(map, marker);
      });
      marker.addListener('mouseout', function() {
        infowindow.close();
      });
    }
  }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVrV5t3FrHnqanqHMnPIuqn9YTZbDdqzg&callback=initMap"
async defer></script>

</body>
</html>
